<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <header>
      <span>Welcome to circles</span>
      <button>Clear</button>
    </header>
    <section id="circles"></section>
    <footer><ul id="users"></ulid="players"></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
